<!--Passport errors-->
{{#if error}}
	<div class="alert alert-danger">{{error}}</div>
{{/if}}

<!--Sweet handlebars Loop-->
{{#each errors}}
	<div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}