
/******* NavBar *******/
#nav{
    font-family: 'Righteous', cursive;
    background-color: #5AC0DF !important;
    box-shadow:
            0 1px 1px rgba(0,0,0,0.08),
            0 2px 2px rgba(0,0,0,0.12),
            0 4px 4px rgba(0,0,0,0.16),
            0 8px 8px rgba(0,0,0,0.20);
}

/******* Main Page *******/
#page{
    font-family: 'Audiowide', cursive;
}

/******* Door *******/

/*Button*/

#buttonLock{
    font-family: 'Audiowide', cursive;
    background-color: #5AC0DF !important;
    border: none;
    box-shadow:
            0 1px 1px rgba(0,0,0,0.11),
            0 2px 2px rgba(0,0,0,0.11),
            0 4px 4px rgba(0,0,0,0.11),
            0 6px 8px rgba(0,0,0,0.11),
            0 8px 16px rgba(0,0,0,0.11);
}

#padLock{
    display: inline-block;
    /*border: 1px solid black;*/
    height: 200px;
    width: 300px;
    /*background-color: teal;*/
}
.wrapper{
    height: 100vh;
    text-align: center;
}
.title{
    text-align: center;
}
#lockToggle{
    text-align: center;
}